---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<BaseLayout title='Blog'>
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <img src={post.data.heroImage.src} alt={post.data.heroImage.alt} />
                <h4>{post.data.title}</h4>
                <h4>{post.data.author}</h4>
                <p>{post.data.pubDate.toString().slice(4, 16)}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
