---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<!-- FIXME: Check why link is clickable form outside pic. -->
<BaseLayout title='Blog'>
  <main class='w-lvw mt-32 grid px-5 md:px-20 lg:px-32 xl:px-40'>
    <ul
      class='flex flex-col lg:grid lg:grid-cols-2 lg:gap-10 p-2'
      aria-label='A collection of thumbnails of all the posts.'
    >
      {
        posts.map((post) => (
          <li class='mb-10'>
            <a href={`/blog/${post.slug}/`} class='hover:motion-safe:animate-pulse'>
              <section class='flex flex-col'>
                <h3
                  class='self-center mb-1 font-extrabold text-lg md:text-xl lg:text-2xl text-justify truncate-overflow'
                  style='max-width: 350px'
                >
                  {post.data.title}
                </h3>
                <img
                  src={post.data.heroImage.src}
                  alt={post.data.heroImage.alt}
                  class='self-center size-10/12 md:size-8/12'
                />
              </section>
              <section class='mt-1 flex justify-evenly'>
                <span>
                  <>
                    <h4>Written by: </h4>
                    <h4>{post.data.author}</h4>
                  </>
                </span>
                <span>
                  <h4>Posted on: </h4>
                  <h4>{post.data.pubDate.toString().slice(4, 16)}</h4>
                </span>
              </section>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  .truncate-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h4 {
    @apply inline-block text-sm md:text-lg;
  }
  span h4:nth-child(2) {
    @apply font-semibold;
  }
</style>
