---
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content=`mickeymarse's website. Currently being refurbished` />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link
      rel='alternate'
      type='application/rss+xml'
      title="Mickey's Landing"
      href={`${Astro.site}feed.xml`}
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='title' content={title} />
    {description && <meta name='description' content={description} />}
    <meta property='og:url' content={`${Astro.url}`} />
    <meta property='og:description' content={`${Astro.props.description}`} />
    <meta property='og:image' content='/ditherickey.png' />
    <meta property='og:site_name' content={`${Astro.props.title}`} />
  </head>
  <body class='bg-[#1b2b34] text-white'>
    <slot />
    <Footer />
    <style is:global>
      .navlink {
        @apply rounded border-4 border-transparent hover:bg-neonp hover:text-back2;
      }
    </style>
  </body>
</html>
