---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class='w-lvw mt-32 grid px-5 md:px-20 lg:px-32 xl:px-40'>
    <article class='flex flex-col' aria-label='The blog post'>
      <figure>
        {heroImage && <img src={heroImage.src} alt={heroImage.alt} />}
        {heroImage && <figcaption class='text-xs font-thin'>{heroImage.alt}</figcaption>}
      </figure>
      <section
        class='self-end my-5'
        aria-label='Section containing the published date of the blog post.'
      >
        {pubDate.toString().slice(4, 16)}
      </section>
      <h1 class='text-xl font-extrabold text-justify'>{title}</h1>
      <hr class='my-5' />
      <slot />
    </article>
  </main>
</BaseLayout>
