---
interface Props {
  imageHref: string;
  projectTitle: string;
  projectParagraph: string;
  firstIconHref: string;
  secondIconHref?: string;
  thirdIconHref?: string;
}

const { imageHref, projectTitle, projectParagraph, firstIconHref, secondIconHref, thirdIconHref } =
  Astro.props;
---

<article class='mb-24 px-20 flex flex-row'>
  <a href={imageHref} target='_blank'>
    <slot name='project-image' />
  </a>
  <section class='mx-5 my-0 w-8/12'>
    <h3 class='text-3xl font-capa font-bold -mt-1'>{projectTitle}</h3>
    <p class='text-xl font-mono font-extralight mt-3 mb-3'>
      {projectParagraph}
    </p>
    <a href={firstIconHref} target='_blank' class='inline-block'>
      <slot name='first-icon' />
    </a>
    <a href={secondIconHref} target='_blank' class='inline-block'>
      <slot name='second-icon' />
    </a>
    <a href={thirdIconHref} target='_blank' class='inline-block'>
      <slot name='third-icon' />
    </a>
  </section>
</article>
<!-- FIXME: check for workaround for the tailind classes bug in apply -->
<style is:global>
  .icon-style {
    @apply size-16 text-neonp hover:animate-ping;
  }
  .image-style {
    @apply size-full rounded-lg hover:opacity-50;
  }
</style>
